<h1>Screening</h1>
<h2><%= @screening.detailed_film.film_title.title %></h2>
<p><%= @screening.initial_tickets - @sold_tickets %> tickets available!</p>

<%= button_to 'Comprar!', [@screening, @new_ticket], { class: 'btn btn-primary' } %>
