// Specific CSS for your home-page
body {
  margin-top: 60px;
  background-color: $white; //TODO: I Think the minimun-Height of the page should be set here, not in the container
  a:hover {
    text-decoration: none;
  }
}

.nav {
    background-color: $white !important;
    text-align: center;
    margin-left: 25px;
}

.nav li a {
    color: $dark-red !important;
}

.nav-tabs li a:hover{
  background-color: $white !important;
  color: $black !important;
  border: none !important;
}

#banner-typed-text {
  margin-bottom: 0;
  line-height: 2.55;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px 0 0 2px;
}

#banner-typed-text p {
  font-size: 16px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.home-form {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
