.screen-details {
  position: relative;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;

}

.screen-details a:hover {
  text-decoration: none;
}


.screen-details img {
  height: 250px;
  object-fit: cover;
}

