.movie {
  margin-top: -170px;
}

.movie h1 {
  font-size: 56px;
  margin-bottom: 30px;
  color: $white;
}

.movie h4 {
  padding-top: 5px;
  color: $black;
}

.movie h5 {
  margin-top: 5px;
  margin-bottom: 35px;
}

.movie img {
  position: absolute;
  padding-left: 10px;
}

.buy-options {
  border-radius: $border-radius;
  justify-content: space-between;
  display: flex;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 20px 20px 20px 0px;
  text-align: right;
}

.movie-info {
  margin-top: 5px;
  margin-left: 10px;
}


.mini {
  height: 240px !important;
}

