<div class="container">
  <h4>Cadastre-se como dono de cinema</h4>
  <%= simple_form_for @owner, as: :user, url: owners_path do |f| %>
    <%= f.input :cnpj %>
    <%= f.submit label: 'Cadastrar' %>
  <% end %>
</div>
