
<div class='container'>
  <div class="row">
    <div class="screen-details">
      <img src='http://picsum.photos/200/300/?random'>
      <div class="screen-description">
        <p><strong>Name:</strong>  <%= @screen.name %></p>
        <p><strong>Address:</strong>  <%= @screen.address %></p>
        <p><strong>Capacity:</strong>  <%= @screen.capacity %></p>

      </div>
    </div>
  </div>
</div>
