<div class="footer">
  <div class="footer-links">
    <img src="https://www.themoviedb.org/static_cache/v4/logos/408x161-powered-by-rectangle-blue-10d3d41d2a0af9ebcb85f7fb62ffb6671c15ae8ea9bc82a2c6941f223143409e.png" alt="" id="tmdb-logo">
  </div>
  <div class="footer-copyright">
    <p> <%= link_to 'Dono de cinema? Inclua sua sala', new_screen_path %> </p>
  </div>
</div>
