<div class="cards">
  <% @screenings.each do |screening| %>
    <%= render 'shared/cards',
                 screening: screening,
                 film: screening.detailed_film.film_title,
                 display_title: true,
                 display_image: true %>
  <% end %>
  <div class="search-bar">
    <%= form_tag(search_index_path, method: :get, class: "form-inline") do %>
    <%= text_field_tag :query, params[:query], placeholder: "Busque um filme", class: 'form-control' %>
    <%= button_tag 'BUSCA' , class: 'btn btn-primary btn-search-bar'%>
    <%end%>
   </form>

  </div>
</div>

