  <div class="container">
    <div class="row">
      <% @film_titles.each do |film| %>
        <% film.screenings.each do |screening| %>
        <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                <div class="card-category">Popular</div>
                <div class="card-description">
                  <h2><%= screening.session_time %></h2>
                  <p><%= screening.screen.address %></p>
                  <%= screening.screen.capacity %>
                </div>
                <a class="card-link"><%= link_to '', screening_path(screening) %></a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>


