<div class="container">
  <div class='info-search row'>
    <% if @film_titles.count != 1 %>
        <h3>Filme não encontrado. Mostrando todas as sessões disponíveis.</h3>
    <% elsif @film_titles.count == 1 %>
        <h3>Sessões do filme: <%= @film_titles.first.title %></h3>
    <%end%>
  </div>
  <div class="row">
    <% @film_titles.each do |film| %>
      <% film.screenings.each do |screening| %>
        <%= render 'screenings/screening_card',
                   screening: screening,
                   film: film,
                   display_title: true %>
      <% end %>
    <% end %>
  </div>
</div>
