<div class="mini banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://image.tmdb.org/t/p/original<%= @film_title.banner_url %>');">
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="movie-details">
        <a href=''>
        <img src='https://image.tmdb.org/t/p/w200<%= @film_title.img_url %>'></a>
        <div class="movie-description">
          <h1><%= @film_title.title %></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <%= link_to "Criar filme detalhado", new_film_title_detailed_film_path(@film_title.id) %>

    </div>
  </div>

  <div class="map row">

  </div>

</div>
