<div class="container">

  <div class="row">
    <div class="movie-details">
      <img src='http://picsum.photos/200/300/?random'>
      <div class="movie-description">
        <h1><%= @film_title.title %></h1>
      </div>
    </div>
  </div>
</div>
