.btn-medium {
  color: $white;
  background-color: $dark-red;
  border: 1px solid $dark-red;
  padding: 10px 15px;
  border-radius: $border-radius;
  font-weight: lighter;
  opacity: 0.85;
}


.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
}

.btn-medium-home {
  color: $white;
  font-size: 16px;
  background-color: $dark-red;
  border: 1px solid $dark-red;
  border-radius: 0 2px 2px 0;
  font-weight: lighter;
  opacity: 0.90;
  line-height: 15.5px;
  &.hover {
  opacity: 1;
  text-decoration: none;
  }

}

.search-control {
  font-size: 8px;
  line-height: 0px;
}

/* Build your own button classes ! */
