.cards {
  padding-top: 1px;
}
.card img {
  width: 100%;
  height: 100%;
}

.card {
  box-shadow: 1px 0px 2px 1px rgba(0,0,0,0.3);
  margin: 10px 10px 10px 10px;
}

.card:hover {
  text-decoration: none;
}

.card-info {
  color: $black;
}

.card-price {
  font-size: 10px;
}

.card-tag {
  font-size: 8px;
  color: $black;
  font-weight: lighter;
  border: solid 1px $black;
  border-radius: $border-radius;
  padding: 3px 3px 3px 3px;
}

.card-tag-container {
  margin-right: 10px;
  margin-bottom: 10px;
}

