.minicard-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.minicard-wrapper h3 {
  margin-left: 30px;

}

.minicard {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  box-shadow: 1px 0px 2px 1px rgba(0,0,0,0.33);
}

.minicard:hover {
  text-decoration: none;
}

.minicard-info {
  padding: 10px;
  color: $black;
}

.minicard-info h1 {
  margin-bottom: 10px;

}

.minicard-info p {
  margin-bottom: 0px;
  color: black;
}
