.screening {
  border: 1px dotted $black;
  border-radius: $border-radius;
  position: relative;
  margin-top: 20px;

}

.screening a:hover {
  text-decoration: none;
}

.screening-info {
  padding: 5px;
}

.screening-info p {
  margin-bottom: 0px;
  color: black;
}

.screening-img img {
  width: 100%;

}



