.screening {
  border: solid $black 1px;
  border-radius: $border-radius;
  position: relative;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 30px;

}

.screening a:hover {
  text-decoration: none;
}

.screening-info {
  padding: 10px;
  position: relative;
  text-decoration: none;
  color: $black;
}

.screening-info h1 {
  margin-bottom: 10px;
}

.screening-info p {
  margin-bottom: 0px;
  color: black;
}


.screening-img {
   padding-left: 0px !important;
}


.screening-img p {
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: lighter;
  margin-top: 5px;
  margin-bottom: 5px;
}



