<p>Olá, <%= @resource.email %>!</p>

<p>Alguém enviou um pedido de link para alterar a sua senha. Você pode fazer isto pelo link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez este pedido, por favor ignore esta mensagem.</p>

<p>Sua senha não mudará a menos que você acesse o link acima e crie uma nova.</p>
