<div class="container">
  <%= @detailed_film.speech %>
  <%= @detailed_film.format.name %></p>
  <%= link_to 'Adicionar Filme', new_film_title_detailed_film_path(@detailed_film) %>
  <%= link_to 'Voltar', detailed_films_path %>
</div>
